@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  font-family: "system-ui", sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 16px;
  color: #4c4c4c;
}

.custom-container {
  width: 1400px;
  margin: 0 auto;
}

@media (max-width: 431px) {
  .header-gradient {
    background: linear-gradient(0deg, #dc7273, #ca2628);
  }
}

@media (max-width: 1400px) {
  .custom-container {
    width: 100%;
    padding: 0 39px;
  }
}