@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  font-family: "system-ui", sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 16px;
  color: #4c4c4c;
}

.custom-container {
  width: 1400px;
  margin: 0 auto;
}

@media (max-width: 431px) {
  .header-gradient {
    background: linear-gradient(0deg, #dc7273, #ca2628);
  }
}

@media (max-width: 1400px) {
  .custom-container {
    width: 100%;
    padding: 0 16px;
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    background-color: #303030;
  }

  .swiper-pagination-bullet-active {
    background-color: #fff;
  }
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px !important;
  height: 37px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
  display: block;
  font-size: 16px !important;
  color: #fff;
}

.image-zoom {
  overflow: hidden;
  cursor: pointer;
}

.image-zoom img {
  transition: transform 0.3s ease;
}

.image-zoom:hover img {
  transform: scale(1.1);
}
